<nav>

    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="/local-info">Local Information</a>
    <a class="nav-item nav-link" href="/vaccine-info">Vaccine Information</a>
    <a class="nav-item nav-link" href="/covid-info">Covid Information</a>
    <a class="nav-item nav-link" href="/helpful-links">Helpful Links</a>
</nav>