

<nav class="navbar navbar-light fixed-top navbar-expand-md bg-faded justify-content-center">
    <div class="d-flex w-50 mr-auto">
        <a href="/" class="navbar-brand ">COVID Clarified</a>
        <p>info. numbers. sources. simple.</p>
        
    </div>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item menu-item">
            <a class="nav-item nav-link" href="/">Home</a>
        </li>
        <li class="nav-item menu-item">
            <a class="nav-item nav-link" href="/local-info">Local Information</a>
        </li>
        <li class="nav-item menu-item">
            <a class="nav-item nav-link" href="/vaccine-info">Vaccine Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="/covid-info">COVID-19 Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="/helpful-links">Helpful Links</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="/about-us">About Us</a>
        </li>
    </ul>
    </div>
</nav>