{{>navbar}}

<div>
    <h1>Covid Information</h1>
</div>

<div>
    <h2>About Covid </h2>
    <h3>What Is Covid?</h3>
    <h3>Where Did Covid Come From?</h3>
    <h3>What Are the Symptoms of Covid?</h3>
    <h4>From the <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">CDC Website</a></h4>
    <ul>
        <li>Fever or chills </li>
        <li>Cough </li>
        <li>Shortness of breath or difficulty breathing </li>
        <li>Fatigue </li>
        <li>Muscle or body aches </li>
        <li>Headache</li>
        <li>New loss of taste or smell</li>
        <li>Sore throat</li>
        <li>Congestion or runny nose</li>
        <li>Nausea or vomiting</li>
        <li>Diarrhea</li>
    </ul>
    <h3>What is the Covid Vaccine?</h3>
    <h4>See Vaccine Info Page <a href="/vaccine-info">here</a></h4>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        Handlebars.registerPartial('navbar', '{{navbar}}');
    })
</script>

<script src="/scripts/local_info_scripts.js"></script>

</div>