{{>navbar}}

<div class="container container-body">
<div>
    <h1>COVID-19 Information</h1>
</div>

<div>
    <h2>About COVID-19 </h2>
    <h3>What Is COVID-19?</h3>
        <p>
            COVID-19 is a new coronavirus that has not previously been seen in humans. Although the majority of people
            who have COVID-19 have mild symptoms, COVID-19 can also cause severe illness and even death.
        </p>
        <p>
            COVID-19 is thought to spread mainly through close contact from person to person, including between people
            who are physically near each other (within about 6 feet). People who are infected but do not show symptoms
            can also spread the virus to others.
        </p>
        <p>
            Important ways to slow the spread and to protect yourself from getting COVID-19 include wearing a mask that
            covers your nose and mouth to protect yourself and others, staying 6 feet apart from others who don't live with
            you, getting a COVID-19 vaccine when it is available to you, avoiding crowds and poorly ventilated indoor spaces,
            and washing your hands often with soap and water, or use hand sanitizer if soap and water aren't available.
        </p>
    <h3>Where Did Covid Come From?</h3>
        <p>
            Coronaviruses are named for the crown-like spikes on their surfaces, and these viruses are a large family of viruses
            that are common in people and many different species of animals, including camels, cattle, cats, and bats. There are
            many types of human coronaviruses, including some that cause mild upper-respiratory tract illnesses, but COVID-19 is
            a new disease caused by a new coronavirus that has not previously been seen in humans.
        </p>
    <h3>What Are the Symptoms of COVID-19?</h3>
    <h4>From the <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">CDC Website</a></h4>
    <ul>
        <li>Fever or chills </li>
        <li>Cough </li>
        <li>Shortness of breath or difficulty breathing </li>
        <li>Fatigue </li>
        <li>Muscle or body aches </li>
        <li>Headache</li>
        <li>New loss of taste or smell</li>
        <li>Sore throat</li>
        <li>Congestion or runny nose</li>
        <li>Nausea or vomiting</li>
        <li>Diarrhea</li>
    </ul>
    <h3>What is the COVID-19 Vaccine?</h3>
    <h4>See Vaccine Info Page <a href="/vaccine-info">here</a></h4>
</div>

<div>

<script type="text/javascript">
    $(document).ready(function () {
        Handlebars.registerPartial('navbar', '{{navbar}}');
    })
</script>

<script src="/scripts/local_info_scripts.js"></script>

</div>


</div>