{{>navbar}}

<div class="container body-container">

<h1>About COVID Clarified</h1>
<p>COVID Clarified is a web app developed by participants of the HackOR 2021 hackathon to create a one-stop information hub
for COVID-19, citing trusted and verified sources for every state in the US. Our mission was to increase awareness
around COVID-19 topics, such as case counts, vaccine information, and best health practices.</p>    

<p>We wanted to know how we could...</p>
<ul>
<li>increase awareness about COVID guidelines, numbers, and vaccine information,</li>
<li>educate others on the science behind vaccines and health guidelines,</li>
<li>keep track of the different reopening and vaccine eligibility phases for different states and counties,</li>
<li>and help find appointments for more people to make steps towards herd immunity in the US.</li>
</ul>

<h3>Inspiration</h3>
<p>The inspiration behind this project was to create a product for social good. We noticed that most websites that provide
information on COVID-19 are dense with information and many links redirect their users to several other websites. We
wanted to consolidate that information into an easy-to-digest format and to provide a concise overview of pertinent
COVID-19 information.</p>

<h3>What it does</h3>
<p>Along with providing answers to commonly asked questions regarding COVID-19, the website also provides an interactive
and educational way to view the COVID-19 virion, utilizing echoAR. By using a phone's camera to scan the QR-code, a
visualization of an interactable 3D-model of a COVID-19 virion becomes available. The user is then able to also
visualize different proteins and structures of the COVID-19 virion, and with the provided information, further
understand the mechanism behind the virus as well as the importance of hand washing!</p>


<h3>What's next for COVID Clarified</h3>
<p>We’re always looking for ways to improve and help people better understand the information we provide. If you have any
feedback for us, please <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_cbV-DSseZY3bHrSXwlwMF3wujLAy7nv0XfRqosJjhqz1Bg/viewform">let us know!</a></p>


</div>