{{>navbar}}

<div class="container body-container">


<form class="row g-3">
    <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Link</label>
        <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Reason</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">County</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-6">
        <label for="inputState" class="form-label">State</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-12">
        <div class="form-check">
            <label class="form-check-label" for="gridCheck">
                 
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


</div>