{{>navbar}}

<div>
    <h1>Covid Information</h1>
</div>
<div>
    <form>
        <label for="zip_code">Enter Zip Code:</label><br>
        <input type="number" id="zipnum" size="30" maxlength="100">
        <input type="submit" id="submitzip" value="Submit Zip">
    </form>


        <script type="text/javascript">
            $(document).ready(function () {
                Handlebars.registerPartial('navbar', '{{navbar}}');
            })
        </script>

</div>
