{{>navbar}}

<div class="container container-body">
    <br>
    <br>
    <br>

    <div>

        <h1 class="text-center ">Welcome to COVID Clarified</h1>


            <h3>Getting Started</h3>
        <div class="row">
            <p>To view information in the US or your local county, select "Local Information" above, or click the link.
            </p>
            <p>To view a 3D model of COVID-19, follow the directions below!</p>

        </div>

        <br>
        <br>

 <section id="ourStory">
    <div class="container-fluid">
        <div>
            <div class="col-md-6 m-3">
                <figure class="figure float-left mr-3">
                    <img src="/assets/COVID-19_Monitor_3d_Model.png" alt="..." class="img-fluid ">
                    <figcaption class="figure-caption">3D model of COVID-19, based on the image “Illustration of the
                        ultrastructure of
                        the Covid-19 virus”
                        (CDC/SCIENCE PHOTO LIBRARY)</figcaption>
                </figure>
            </div>

            <!--column-->
            <div class="col-md-12">
                {{!-- <h1>Our Story</h1> --}}
                <h2>Description of a COVID-19 Virion:</h2>
                <p>There are four notable structures of a SARS-CoV-2 (COVID-19) particle, or virion. <a
                        href="https://www.drugtargetreview.com/news/72344/interactive-3d-model-of-sars-cov-2-surface-released/">Source.</a>
                </p>
                <ol>
                    <li>Lipid Membrane - The lipid membrane needs to be both stable enough to protect the viral RNA
                        inside the virion from the surrounding environment, but not so stable that it cannot break open
                        inside the host cell to release the RNA. The balance between structural stability and the ability
                        to release RNA is essential for transmission and replication of the virus, but this trade-off allows
                        the membrane to be destroyed by soap or detergent!
                    </li>
                    <li>S Protein (Spike Protein) - The prominent "crown-shaped" structures protruding from the surface of the
                        virion are called spike proteins, and these perform two primary tasks that aid in host infection: mediation
                        of the attachment between the virus and host cell surface receptors, and facilitation of viral entry into the
                        host cell by assisting in the fusion of the viral and host cell membranes.
                    </li>
                    <li>E Protein (Envelope Protein) - The envelope proteins are thought to have several functions that contribute to
                        virus
                        growth and its ability to cause disease.
                    </li>
                    <li>M Protein (Membrane Protein) - The membrane proteins are thought to play a role in the final stages of
                        infection,
                        when new virus proteins are assembled into particles before they are released and move on to infect new cells.
                    </li>
                </ol>
                <h4>To View the Model:</h4>
                <ol>
                    <li>To visualize a COVID-19 virion, point your phone camera on the QR-code to
                        open the link to echoAR, and keep your phone camera pointed on the QR-code
                        to see an interactable 3d model of a COVID-19 virion.
                    </li>
                    <li>To visualize a COVID-19 virion in your browser, click on the link to echoAR
                        <a href="https://go.echoar.xyz/z39f">here.</a>
                    </li>
                </ol>
            </div>
            <!--column-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</section>







    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        Handlebars.registerPartial('navbar', '{{navbar}}');
    })
</script>

</div>
