{{>navbar}}

<div>
    <h1>Vaccine Information</h1>
</div>

<div>
    <h2>About COVID-19 Vaccines</h2>
    <h3>How do COVID-19 Vaccines Work?</h3>
        <p>
            COVID-19 vaccines help our bodies develop immunity to the virus that causes COVID-19 without us having to get the
            illness. Different types of vaccines work differently, but with all types of vaccines, the body is left with a supply
            of "memory" T-lymphocytes as well as B-lymphocytes that will remember how to to fight that virus in the future.
            It typically takes a few weeks after vaccination for the body to produce these lymphocytes or white blood cells, 
            and sometimes after vaccination, the process of building immunity can cause symptoms, such as fever. These symptoms 
            are normal and are signs of the immunity building process.
        </p>
    <h3>What are the Different Types of Vaccines Available?</h3>
        <p>
            It is important to understand what is known about each vaccine as the CDC authorizes and makes recommendations about
            those vaccines that are available. Currently, three vaccines are authorized and recommended to prevent COVID-19: 
            Pfizer-BioNTech, Moderna, and Johnson & Johnson / Janssen. 
        </p>
    <h3>What are the Differences of Each Type of Vaccine? Is One Better than the Other?</h3>
        <li>Moderna Vaccine</li>
            <p>
                This is an mRNA vaccine that requires 2 shots, one month (28 days) apart. This shot is given in the muscle of the
                upper arm, and does not contain eggs, preservatives, or latex. Based on evidence from clinical trials, the Moderna
                vaccine was 94.1% effective at preventing laboratory-confirmed COVID-19 illness in people who received two doses who
                had no evidence of being previously infected.
            </p>
        <li>Pfizer-BioNTech</li>
            <p>
                This is an mRNA vaccine that requires 2 shots, 21 days apart. This shot is given in the muscle of the upper arm,
                and does not contain eggs, perservatives, or latex. Based on evidence from clinical trials, the Pfizer-BioNTech
                vaccine was 95% effective at preventing laboratory-confirmed COVID-19 illness in people without evidence of previous
                infection.
            </p>
        <li>Johnson & Johnson's / Janssen</li>
            <p>
                This is a viral vector vaccine that requires 1 shot. This shot is given in the muscle of the upper arm, and does not
                contain eggs, preservatives, or latex. The J&J/Janssen vaccine was 66.3% effective in clinical trials at preventing
                laboratory-confirmed COVID-19 illness in people who had no evidence of prior infection 2 weeks after receiving the
                vaccine.
            </p>
        <p>
            All COVID-19 vaccines currently available in the United States are effective at preventing COVID-19. Even though the vaccines
            have different efficacy rates, this does not mean that one vaccine is better than the other, because the time that the clinical
            trial was conducted as well as the population that the trial was conducted upon, was different between each vaccine.
        </p>
    <h3>Will I be fully immune after getting the COVID-19 vaccine?</h3>
        <p>
            It typically takes about 2 weeks for the body to build protection after vaccination. That means it is possible you could still
            get COVID-19 soon after vaccination, because your body has not had enough time to build full protection. Some people who are fully 
            vaccinated against COVID-19 will still get sick because the vaccines are not 100% effective against COVID-19 illness. However,
            based on data from clinical studies, COVID-19 vaccine may also help keep you from getting seriously ill, even if you do get
            COVID-19.
        </p>

</div>

<div>

<script type="text/javascript">
    $(document).ready(function () {
        Handlebars.registerPartial('navbar', '{{navbar}}');
    })
</script>

<script src="/scripts/local_info_scripts.js"></script>

</div>