{{>navbar}}

<div>
    <h1>Covid Information</h1>
</div>



    <script type="text/javascript">
        $(document).ready(function () {
            Handlebars.registerPartial('navbar', '{{navbar}}');
        })
    </script>

    <script src="/scripts/local_info_scripts.js"></script>

</div>